{{ "<!-- Header -->" | safeHTML }}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img style="width:150px; height:150px;" class="img-responsive name-logo-size" src="img/{{ with .Site.Params.header.image }}{{ . }}{{ else }}profile.png{{ end }}" alt="">
                <div class="intro-text">
                    <span class="name">{{ with .Site.Params.header.first_name }}{{ . }}{{ end }}</span>
                    <span class="name">{{ with .Site.Params.header.last_name }}{{ . }}{{ end }}</span>
                    <hr class="star-light">
                    <span class="skills">{{ with .Site.Params.header.subtitle }}{{ . }}{{ end }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
